$border-color: #dde2ff;
$color-black: #32394b;
$color-white: #ffffff;
$danger-color: #e85f5f;
$error-color: #fec538;
$light-color: #bbbdd0;
$primary-color: #7a8dfd;
$secondary-color: #f8f9ff;
$success-color: #0bc375;

$font-family: "Helvetica Neue", sans-serif;
