$border-color: #dde2ff;
$color-black: #32394b;
$color-white: #ffffff;
$danger-color: #e90a0a;
$error-color: #524d07;
$light-color: #bbbdd0;
$primary-color: #7a8dfd;
$secondary-color: #f8f9ff;
$success-color: #0de01f;

$font-family: "Helvetica Neue", sans-serif;
