@import "variables";
@import "base";
@import "layout";

.header {
    background-color: $color-white;
    border-bottom: 0.06rem solid $border-color;
    padding: 1rem 2rem;
    width: 100%;
    &__container {
        display: flex;
        justify-content: center;
    }

    &__nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    &__logo {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
    }
    &__logo-text {
        color: $primary-color;
        font-size: 2.1rem;
        font-weight: 700;
    }
    &__search-wrapper {
        align-items: center;
        display: flex;
        flex-basis: 50%;
        gap: 1rem;
        justify-content: end;
    }

    &__search-input {
        border-radius: 0.31rem;
        border: 0.125rem solid $border-color;
        display: none;
        font-size: 1rem;
        font-weight: 500;
        outline: none;
        padding: 0.56rem 0.75rem;
        width: 100%;
    }
}

.task-board {
    margin: 0 auto;
    width: 77%;
    &__action-wrapper {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }
    &__filter-buttons {
        display: flex;
        gap: 0.7rem;
    }
    &__heading {
        font-size: 1.87rem;
        font-weight: 700;
        padding: 2rem 0rem;
        margin-top: 1rem;
    }
    .active {
        color: $primary-color;
    }
}

.btn {
    background-color: $secondary-color;
    border-radius: 0.31rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    outline: 0.06rem solid $border-color;
    padding: 0.56rem 1.25rem;
    text-transform: capitalize;
    &--primary {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        background-color: $primary-color;
        color: $color-white;
    }
    &--loadMoreButton,
    &--showLessButton {
        background-color: $color-black;
        color: $color-white;
    }
}

.task-card {
    background-color: $color-white;
    border-radius: 0.3125rem;
    border: 0.0625rem solid $border-color;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem;

    &--hidden {
        display: none;
    }
    &__icon-wrapper {
        display: flex;
        gap: 1rem;
    }
    .complete-info {
        background-color: $primary-color;
        border-radius: 0.31rem;
        color: $color-white;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 0.875rem;
        margin-left: auto;
        padding: 0.31rem 0.75rem;
    }

    &__icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 100%;
    }
    &__input {
        border-radius: 0.31rem;
        border: 0.03rem solid $border-color;
        font-size: 1rem;
        font-weight: 500;
        height: 100%;
        min-height: 5rem;
        outline: none;
        padding: 0.31rem 0.563rem;
        width: 100%;
    }
    .createdAt {
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1rem;
        color: $light-color;
    }
}

.task-list {
    &__container {
        display: grid;
        gap: 1rem 2rem;
        grid-template-columns: repeat(auto-fill, minmax(23.875rem, 1fr));
        padding-top: 2rem;
    }

    &__empty {
        display: flex;
        left: 37%;
        position: absolute;
        top: 52%;
        img {
            max-width: 100%;
        }
    }

    &__paginate-buttons {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 3.56rem;
        padding: 1rem;
    }
}

.completed {
    color: $success-color;
    opacity: 0.5;
    text-decoration: line-through;
}

.toast-container {
    height: 3.4375rem;
    left: 56.25rem;
    max-width: 24.375rem;
    position: fixed;
    top: 0.625rem;
    z-index: 1000;
}

.toast {
    border-radius: 0.3125rem;
    color: $color-white;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
    opacity: 0;
    padding: 0.75rem 1.25rem;
    transition: opacity 0.3s ease-in-out;

    &.success {
        background-color: $success-color;
    }

    &.error {
        background-color: $error-color;
    }

    &.danger {
        background-color: $danger-color;
    }
}

@media (max-width: 639px) {
    .header {
        position: relative;
        &__search-input {
            position: absolute;
            left: 12%;
            top: 110%;
            width: 80%;
        }
    }

    .task-card {
        &__icon-wrapper {
            align-items: start;
        }

        .complete-info {
            margin-left: 0%;
        }
    }
    .task-board {
        &__action-wrapper {
            flex-direction: column;
            align-items: start;
        }
        &__filter-buttons {
            flex-wrap: wrap;
        }
    }
    .task-list {
        &__container {
            grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        }
        &__empty {
            display: flex;
            left: 15%;
            position: absolute;
            top: 74%;
            &-message {
                font-size: 100%;
            }
        }
    }

    .toast {
        margin-bottom: 500px;
    }
}
